.logo{
    display: grid;
    height: 70px;
    align-content: end;
}
.footer{
    padding-left: 100px;
    padding-right: 100px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.left p{
    width: 294px;
    font-size: 17px;
    line-height: 150%;
}

.right{
    justify-self: end;
}

.info{
    font-size: 16px;
    line-height: 150%;
}
.contact{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}